<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">LiveTechStudy</a>
    </div>
    <ul class="nav navbar-nav">
      <li roouterLinkActive="active current"><a routerLink="/">Home</a></li>
      <li roouterLinkActive="active current"><a routerLink="/contact">Contact</a></li>
      <li roouterLinkActive="active current"><a routerLink="/videos">Videos</a></li>
      <li roouterLinkActive="active current"><a routerLink="/liveclasses">Live Classes</a></li>
    </ul>
  </div>
</nav>